@charset "EUC-KR";
*{
   margin: 0;
   padding: 0;
}

body{font-family: 'NanumSquare', sans-serif !important; font-size:14px; color:#4e4e4e;
   line-height: 1.4;}

html{
   font-size: 10px;
}

ul, li{
   list-style: none;
}

a{
   text-decoration: none;
   color: inherit;
}

.board_wrap{
   width: 1000px;
   margin-top: 250px;
   margin-left: 250px;
}

.board_title{
   margin-bottom: 30px;
}

.board_title strong{
   font-size: 3rem;
}

.board_title p{
   margin-top: 5px;
   font-size: 1.4rem;
}

.button_wrap{
   margin-top: 30px;
   text-align: center;
   font-size: 0;
}

.button_wrap a{
   display: inline-block;
   min-width: 80px;
   margin-left: 10px;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 2px;
   font-size: 1.4rem;
}

.button_wrap a:first-child {
   margin-left: 0;
}

.button_wrap a.on{
   background: #1e57a4;
   color: #fff;
}

div{
   display: block;
}

.board_wrap{
   width: 1000px;
   margin: 100px auto;
}

.board_page a.num.on{
   border-color: #000;
   background: #000;
   color: #fff;
}

.board_page a:first-child{
   border-left: 1px solid #ddd;
}

.board_view{
   width: 100%;
   border-top: 2px solid #1e57a4;
   font-size: 1.4rem;
}

.board_view .title{
   padding: 20px 15px;
   border-bottom: 1px dashed #ddd;
   font-size: 2rem;
}

.board_view .info{
   padding: 15px;
   border-bottom: 1px solid #999;
   font-size: 0;
}

.board_view .info dl{
   position: relative;
   display: inline-block;
   padding: 0 20px;
}

.board_view .info dl:first-child{
   padding-left: 0;
}

.board_view .info dl:before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 1px;
   height: 27px;
   background: #ddd;
}

.board_view .info dl dt{
   display: inline-block;
   font-size: 1.4rem;
}

.board_view .info dl dd{
   display: inline-block;
   font-size: 1.4rem;
   margin-left: 10px;
   color: #777;
}

.board_view .content{
   padding: 15px;
   border-bottom: 1px solid #000;
   line-height: 160%;
   font-size: 1.4rem;
}

.board_view .info dl:first-child:before {
   display: none;   
}