@charset "UTF-8";

/*기본설정: 페이지 전체 */
*{   margin: 0;
   padding: 0;
}

body{font-family: 'NanumSquare', sans-serif !important; font-size:14px; color:#4e4e4e;
   line-height: 1.4;}

ul, li{
   list-style: none;
}

a{
   text-decoration: none;
   color:inherit;
}

header{
   z-index:3;
   position: fixed;
   display: inline;
   top: 0 !important;
   /*border-bottom: 1px solid #ddd;*/
   width: 100%;
   background-color:white;
   margin-bottom: 500px;
   
}

header > div{
   width: 90%;
   min-width: 1000px;
   max-width: 1200px;
   height: 80px;
   margin: 0 auto;
}


header .logo{
   display: block;
   margin-top: 30px;
   font-size: 42px;
   font-weight: 600px;
   letter-spacing: -6px;
   color: #1e57a4;
   float: left;
}

header .logo .img{
   width: 25px;
}

header .gnb{
   float: right;
}

header .gnb li{
   display: inline-block;
   margin-top: 50px;
   margin-left: 60px;
   font-size: 18px;
   color: #808080;
}

header .gnb li:first-child{
   margin-left: 0;
}

/* menu bar*/

.menu_wrap{
   display: fixed;
   margin-top: 0;
   z-index: 999; 
   width: 100%;
}

.menu_wrap .dep1{
   margin-top: 50px;
   font-size: 0;
   color: white;
   display: fixed;
}

/* .menu_wrap > div{
   display: flex;
} */
   
.menu_wrap .dep1 > li{
   display: inline-block;
   width: 20%;
   vertical-align: top;
   background: #1e57a4;
   text-align: center;
   
   font-size: 23px;
}

.menu_wrap .dep1 > li:hover > a{
   background: #1c5197;
   color: #fff;
}

.menu_wrap .dep1 > li > a{
   display: block;
   padding: 17px 0;
}

.menu_wrap .dep1 .dep2{
   display: none;
   background: #d4e3f7;
   font-size: 19px;
   color: black;
   padding: 15px 0 25px;
   min-height: 45px;
   max-height: 100px;
   line-height: 1.5;
}

.menu_wrap .dep1 > li:hover > .dep2{
   display: block;
}

.menu_wrap .dep2 > a{
   display: block;
   padding: 10px 0;
   font-size: 12px;
}

.menu_wrap .dep2 a:hover{
   text-decoration: underline;
}

/* inx_board*/

#idx_board_wrap{
   margin-top:300px;
   padding: 0 auto;
   width:100%;
   
}

#idx_board_wrap > div{
   min-width: 1000px;
   max-width: 1200px;
   margin: 0 auto;
   font-size: 0;
}

.idx_board{
   display: inline-block;
   width: 48%;
   background: #fff;
}

#idx_board_wrap > div > div:nth-child(even){
   margin-left: 4%;
}

#idx_board_wrap > div > div:nth-child(1),
#idx_board_wrap > div > div:nth-child(2){
   border-bottom: 2px solid #ddd; 
   border-top: 3px solid #1e57a4; 
}

#idx_board_wrap > div > div:nth-child(3),
#idx_board_wrap > div > div:nth-child(4){
   margin-top: 40px; 
   border-bottom: 2px solid #ddd; 
   border-top: 3px solid #1e57a4; 
   
}

.idx_board .title{
   position: relative;
   padding: 20px;
   border-bottom: 1px solid #aaa;
}

.idx_board .title a{
   display: inline-block;
   vertical-align: middle;
}

.idx_board .title .name{
   font-size: 24px;
   font-weight: 600;
   letter-spacing: -2px;
}

.idx_board .title .more{
   position: absolute;
   top: 29px;
   right: 20px;
   
}

.idx_board .title .more img{
   width: 40px;
   margin-left: 3px;
}

.idx_board .list{
   padding: 20px;
} 

.idx_board .list ul li{
   margin-top: 10px;
   padding-left: 8px;
   background: url(../image/square.PNG) no-repeat 0 7px /3px;
   font-size: 0;
}

.idx_board .list ul li:first-child{
   margin-top: 0;
}   

.idx_board .list a,
.idx_board .list span{
   display: inline-block;
   vertical-align: middle;
}

.idx_board .list a{
   width: 80%;
   font-size:  14px;
}

.idx_board .list span{
   width: 20%;
   text-align: right;
   font-size:  12px;
   color: #777;
}

/* 푸터 */

.foot{
   text-align: center;
   padding: 100px 50px;
   background-color: #fff;
}

.foot li{
   position: relative;
   display: inline;;
   padding: 0 7px 0 10px;
   white-space: nowrap;
}

.foot li:before{
   content: '';
   width: 1px;
   height: 12px;
   background-color: #dbdbdb;
   position: absolute;
   left: 0;
   top: 2px;
}   

.foot li:first-child:before{
   width: 0;
}

.foot address{
   padding-top: 15px;
}

/* 검색창 */

.green_window {
   display: inline-block;
   width: 450px; height: 38px;
   border: 2px solid #1e57a4;
   border-radius: 2px;
   background: white;
   margin-top: 45px;
   margin-left: 77px;
}
.input_text {
   width: 348px; height: 30px;
   margin: 6px 0 0 9px;
   border: 0;
   line-height: 21px;
   font-weight: 540;
   font-size: 18px;
   outline: none;
}
.sch_smit {
   width: 43px; height: 43px;
   margin: 0; border: 0;
   vertical-align: top;
   /* background: #1e57a4; */
   background-color:transparent;
   color: #1e57a4;;
   font-weight: 700;
/*    border-radius: 1px;
 */   cursor: pointer;
   margin-top: 45px;
   margin-left: -45px;
   white-space: nowrap;
   position: absolute;
   padding: 0;
}
.sch_smit:hover {
   color: gray;
}

.fa fa-search{
   width: 30px;
   color: #000;
}

/* .green_window .input{
   font-size: 20px;
   font-weight: 20;
} */

.green_window {
   display: inline-block;
   width: 380px; height: 36px;
   border: 2px solid #1e57a4;
   border-radius: 2px;
   background: white;
   margin-top: 45px;
   margin-left: 77px;
}
.input_text {
   width: 348px; height: 30px;
   margin: 6px 0 0 9px;
   border: 0;
   line-height: 21px;
   font-weight: 540;
   font-size: 15px;
   outline: none;
}






